/* ===============================
   SERVICES
================================ */

.cards-grid{
    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:30px;
    margin-top:70px;
}

.card{
    background:var(--white);
    border:1px solid var(--border);
    border-radius:var(--radius);
    padding:40px 30px;
    transition:var(--transition);
    box-shadow:var(--shadow);
}

.card:hover{
    transform:translateY(-8px);
    box-shadow:var(--shadow-hover);
    border-color: rgba(37, 99, 235, 0.25);
}

.card-icon{

    width:65px;
    height:65px;

    border-radius:50%;

    background:#eaf2ff;

    display:flex;

    justify-content:center;

    align-items:center;

    font-size:1.5rem;

    color:var(--primary);

    margin-bottom:25px;

}

.card h3{

    font-size:1.5rem;

    margin-bottom:15px;

    color:var(--secondary);

}

.card p{

    color:var(--text-light);

    margin-bottom:25px;

    line-height:1.8;

}

.card a{

    color:var(--primary);

    font-weight:600;

}